<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>387256025631-5ql3mk8cin8lhno4djgma3avba00ruv7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.387256025631-5ql3mk8cin8lhno4djgma3avba00ruv7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>387256025631-8jhs5ml9vgqaj50ro1m0bc8i4dl4eseb.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBPfrp5L3wOhpbhRSFqI5aM2YJT1hOh1Z0</string>
	<key>GCM_SENDER_ID</key>
	<string>387256025631</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chApp</string>
	<key>PROJECT_ID</key>
	<string>chatting-app-3a20b</string>
	<key>STORAGE_BUCKET</key>
	<string>chatting-app-3a20b.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:387256025631:ios:d9fd40dde3be140a1fcb2a</string>
</dict>
</plist>